proxmox_api_url           = ""
proxmox_api_token_id      = ""
proxmox_api_token_secret  = ""
proxmox_vm_password       = ""
proxmox_node_tls_insecure = ""
public_ssh_key            = ""
proxmox_node_name         = ""
os_image                  = ""
